@model ExpenseTracker.Models.Classes.Category

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" value="@Model.categoryId" name="categoryId" />
                <div class="mb-3">
                    <div class='e-btn-group custom-rbt-group'>
                        <input type="radio" id="radioleft" name="type" value="Expense" checked="@(Model.type == "Expense")" />
                        <label class="e-btn" for="radioleft">Expense</label>
                        <input type="radio" id="radiomiddle" name="type" value="Income" checked="@(Model.type == "Income")" />
                        <label class="e-btn" for="radiomiddle">Income</label>
                    </div>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="title" ejs-for="title" placeholder="title" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="title" class="text-danger"></span>
                    <div class="mb-3">
                        <ejs-textbox id="icon" ejs-for="icon" placeholder="icon" floatLabelType="Always"></ejs-textbox>
                        <span asp-validation-for="icon" class="text-danger"></span>
                    </div>
                    <span asp-validation-for="type" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-button id="submit" content="Submit" cssClass="e-primary" />
                </div>
            </form>
        </div>
    </div>
        <div class="col-md-5">
            <div class="widget h-100 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-shapes fa-2xl"></i>
            </div>
        </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
