@model IEnumerable<ExpenseTracker.Models.Classes.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="categories" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-columns>
                <e-grid-column headerText="Category" field="TitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Type" template="#typeColumnTemplate" width="150px"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="150px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
     ${if(type =="Income")}
    <span class="badge bg-success">${type}</span>
     ${else}
     <span class="badge bg-danger">${type}</span>
     ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
  <div class="d-flex flex-row justify-content-start">
      <a class="btn btn-sm no-a-decoration" href="/Category/AddOrEdit/${categoryId}"></a>
          <i class="fa-solid fa-pen fa-lg"></i>
  </div> 
</script>